@charset "UTF-8";
.header {
  position: relative;
  width: 100%;
  border-bottom: 1px solid #ddd;
  box-sizing: border-box;
  background-color: #FFFFFF;
  padding: 0.5rem;
}
.header__text {
  display: none;
}
.header__links {
  display: none;
  list-style-type: none;
  background-color: #FFFFFF;
}
.header__links li {
  margin: 1rem;
}
.header__links li a {
  text-decoration: none;
  font-family: "Archivo";
  font-weight: 600;
  font-size: 0.9rem;
  color: #111111;
}
.header__menu {
  display: inline-block;
  vertical-align: middle;
  margin: 0 1rem;
}
.header__menu:before {
  content: "☰";
}
.header__menu.show::before {
  content: "✖";
}
.header__title {
  display: inline-block;
  vertical-align: middle;
  margin-right: auto;
  margin-top: 0.4rem;
}
.header__title__logo {
  font-size: 1.2rem;
  display: inline-block;
  vertical-align: middle;
  margin-right: 1.6rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.header__title__logo p {
  font-family: "Archivo";
  margin: 0 auto;
  text-align: center;
  width: 1.5rem;
  height: 1.5rem;
}
.header__title__titl {
  font-family: "Archivo";
  display: inline-block;
  vertical-align: middle;
}
.header__title__titl h1 {
  font-size: 1rem;
  font-weight: bold;
}
.header__title__titl h2 {
  font-size: 1rem;
  font-weight: 400;
}
.header__login-search {
  position: absolute;
  right: 0;
  top: 0;
  margin: 0.5rem auto;
}
.header__login-search__imgs {
  margin: 0.5rem;
}

@media only screen and (min-width: 1000px) {
  .header__text {
    display: flex;
    position: absolute;
    z-index: 1;
    background-color: #222222;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 1rem;
    color: white;
    height: 11vh;
    width: 100%;
  }
  .header__text p {
    width: 80%;
    margin: 0 auto;
  }
  .header {
    position: relative;
    top: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    padding: 1rem;
    z-index: 10;
    transition: transform 0.3s ease;
  }
  .header__title {
    margin-right: initial;
    order: 1;
    padding: 0rem 1rem;
  }
  .header__links {
    display: flex;
    order: 2;
    padding-left: 2rem;
  }
  .header__login-search {
    position: initial;
    order: 3;
    margin-left: auto;
    margin-right: 1rem;
  }
  .header__login-search__imgs {
    border: 1px solid rgba(133, 133, 133, 0.3019607843);
    padding: 0.3rem;
    margin: 0.1rem;
  }
  .header__menu {
    display: none;
  }
  .hidden {
    transform: translateY(-150%);
  }
}
.footer {
  position: relative;
  overflow: hidden;
}
.footer:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../img/footerBackground.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.05;
  z-index: -1;
}

.intro {
  width: 90%;
  margin: 0 auto;
}
.intro__title {
  display: inline-block;
  vertical-align: middle;
  margin-top: 1rem;
  color: #777777;
}
.intro__title__logo {
  background-color: #BEAD8E;
  font-family: "Archivo";
  font-size: 1.2rem;
  display: inline-block;
  vertical-align: middle;
  margin-right: 1.6rem;
}
.intro__title__logo p {
  margin: 1rem;
  color: white;
}
.intro__title__titl {
  font-family: "Archivo";
  display: inline-block;
  vertical-align: middle;
}
.intro__title__titl h2 {
  font-size: 1rem;
  font-weight: 700;
  color: black;
}
.intro__title__titl h3 {
  font-size: 1rem;
  font-weight: 400;
}
.intro__text {
  margin-top: 1rem;
  color: #777777;
  font-size: 1rem;
  font-family: "Archivo";
}
.intro__socials {
  margin-top: 1rem;
}
.intro__socials__twitterImg {
  display: inline-block;
  background-color: #BEAD8E;
}

.socialsImgs {
  display: inline-block;
  background-color: #F8F8F8;
}
.socialsImgs__img {
  margin: 0.5rem;
}

.services {
  width: 90%;
  margin: 0 auto;
  margin-top: 2rem;
}
.services h2 {
  font-family: "Old Standard TT";
  text-align: left;
}
.services__container__containers {
  display: inline-block;
  text-align: left;
  list-style-type: none;
  vertical-align: top;
}
.services__container__containers li {
  margin-top: 1rem;
  font-family: "Roboto";
  color: #777777;
  font-size: 1rem;
}

.contactUs {
  width: 90%;
  margin: 0 auto;
  margin-top: 2rem;
}
.contactUs h2 {
  font-family: "Old Standard TT";
  text-align: left;
}
.contactUs__container {
  margin-top: 2rem;
}
.contactUs__container__content {
  margin: 1rem 1rem 3rem 0;
}
.contactUs__container__content__item {
  display: inline-block;
  margin-right: 1rem;
}
.contactUs__container__content__item h2 {
  font-family: "Old Standard TT";
  font-size: 1.5rem;
  font-weight: 400;
}
.contactUs__container__content__item h3 {
  font-family: "Old Standard TT";
  font-size: 1rem;
  font-weight: 400;
}

.copyright {
  width: 90%;
  margin: 0 auto;
}
.copyright p {
  font-family: "Roboto";
  font-weight: 700;
  margin-bottom: 1rem;
}

@media only screen and (min-width: 1000px) {
  .footer-container {
    display: flex;
    width: 90%;
    margin: 0 auto;
  }
  .copyright {
    display: flex;
    justify-content: space-around;
    background-color: white;
    width: 100%;
  }
  .copyright p {
    margin-bottom: 0rem;
    padding: 1rem;
  }
  .intro {
    width: 25%;
    min-width: 17rem;
  }
  .services {
    width: 30%;
    padding: 1rem;
    min-width: 21rem;
  }
  .services__container {
    display: flex;
    justify-content: space-between;
  }
  .contactUs {
    width: 25%;
    min-width: 17rem;
  }
}
.home-local-page {
  background-color: #333333;
  margin: 0 auto;
  color: white;
}
.home-local-page__title {
  margin: 0 1rem;
  padding: 3rem 0 2rem 0;
}
.home-local-page__title h2 {
  font-weight: 700;
  font-size: 1rem;
  font-family: "Archivo";
}
.home-local-page__title h3 {
  font-weight: 400;
  font-size: 3rem;
  font-family: "Old Standard TT";
}
.home-local-page__home-info {
  text-align: right;
  padding-right: 1rem;
}
.home-local-page__home-info__home {
  display: inline-block;
  background-color: white;
  padding: 0.8rem;
}
.home-local-page__home-info__home .home-page {
  font-family: "Archivo";
  color: black;
  font-weight: 700;
  font-size: 1rem;
  text-decoration: none;
}
.home-local-page__home-info__home .separation {
  display: inline-block;
  color: black;
  font-weight: 700;
}
.home-local-page__home-info__home .home-title {
  display: inline-block;
  font-family: "Archivo";
  font-weight: 700;
  color: #BEAD8E;
}

.button {
  background-color: #BDAC8D;
  color: white;
  border: none;
  padding: 1.3rem 3.5rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  font-family: "Archivo";
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.image-swiper {
  margin: 3rem auto;
}
.image-swiper .swiper-slide {
  align-items: center;
  width: 100%;
  height: auto;
  flex-shrink: 0;
}
.image-swiper .swiper-slide img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}
.image-swiper .image-swiper-pagination {
  position: initial;
  text-align: center;
  width: 100%;
}
.image-swiper .image-swiper-pagination .swiper-pagination-bullet {
  background: #EDEDED;
  opacity: 1;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
}
.image-swiper .image-swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #BDAC8D;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
}

.video-show {
  margin: 2rem 0;
  padding: 1rem 0;
}

.bbq-img {
  display: none;
}

.iframe-container {
  position: relative;
  width: 90%;
  padding-bottom: 56.25%;
  height: 0;
  margin: 1rem auto;
  overflow: hidden;
}
.iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.video-description {
  font-size: 1.2rem;
  color: #333;
  margin-top: 1rem;
  text-align: center;
}
.video-description p {
  font-family: "Old Standard TT";
  width: 90%;
  margin: 0 auto;
  font-weight: 400;
  font-size: 1.8rem;
}

.image-container {
  width: 100%;
  text-align: center;
  margin: 3rem auto 0;
}
.image-container img {
  height: auto;
  margin-bottom: 10px;
}

.hotel-restaurant {
  margin: 1rem auto;
  width: 90%;
}
.hotel-restaurant__img {
  margin: 0rem auto;
}
.hotel-restaurant__img img {
  width: 100%;
  margin: 1rem 0;
}
.hotel-restaurant__title {
  font-family: "Archivo";
  font-weight: 700;
  font-size: 0.8rem;
  color: #777777;
}
.hotel-restaurant__description {
  margin: 2rem auto;
}
.hotel-restaurant__description h2 {
  font-family: "Old Standard TT";
  font-weight: 400;
  font-size: 2.5rem;
}
.hotel-restaurant__description p {
  font-family: "Archivo";
  font-size: 0.8rem;
  color: #777777;
}
.hotel-restaurant button {
  padding: 1.3rem 3rem;
  width: auto;
}

.facilities {
  background-color: #222222;
  padding-bottom: 2rem;
}
.facilities__title {
  padding: 2rem;
  text-align: center;
}
.facilities__title h2 {
  color: #BDAC8D;
  font-family: "Archivo";
  font-weight: 500;
  font-size: 0.8rem;
  margin-bottom: 1rem;
}
.facilities__title h3 {
  color: white;
  font-family: "Old Standard TT";
  font-weight: 400;
  font-size: 1.5rem;
}

.simple-swiper {
  height: auto;
  max-width: 25rem;
}
.simple-swiper .swiper-slide {
  position: relative;
  padding: 4rem 1rem;
  margin: 0 auto;
  background-color: #292929;
  width: 20rem;
}
.simple-swiper .swiper-slide .swiper-background-number {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 5rem;
  position: absolute;
  right: 0;
  top: 0;
  color: #222222;
  z-index: 1;
}
.simple-swiper .swiper-slide .swiper-content {
  position: relative;
  z-index: 2;
}
.simple-swiper .swiper-slide .swiper-content img, .simple-swiper .swiper-slide .swiper-content__description {
  text-align: left;
  vertical-align: top;
  color: white;
}
.simple-swiper .swiper-slide .swiper-content img {
  width: 4rem;
}
.simple-swiper .swiper-slide .swiper-content__description {
  white-space: normal;
}
.simple-swiper .swiper-slide .swiper-content__description h2 {
  font-family: "Old Standard TT";
  font-weight: 400;
  font-size: 1.5rem;
}
.simple-swiper .swiper-slide .swiper-content__description p {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 0.8rem;
  color: #FFFFFF;
}
.simple-swiper .swiper-pagination {
  position: initial;
  margin: 1rem 0;
  text-align: center;
  width: 100%;
}
.simple-swiper .swiper-pagination .swiper-pagination-bullet {
  background: #BDAC8D;
  opacity: 1;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
}
.simple-swiper .swiper-pagination .swiper-pagination-bullet-active {
  background: #ffffff;
}

.facilities__gallery {
  display: none;
}

.fun-facts {
  text-align: left;
  padding: 2rem 0;
  width: 90%;
  margin: 0 auto;
}
.fun-facts h2 {
  font-family: "Archivo";
  font-weight: 700;
  font-size: 0.8rem;
  color: #777777;
}
.fun-facts h3 {
  font-family: "Old Standart TT";
  font-weight: 400;
  font-size: 4.5rem;
  color: #222222;
}
.fun-facts h2,
.fun-facts h3 {
  margin: 0.5rem 0;
}
.fun-facts__blocks {
  position: relative;
  width: 100%;
  max-width: 28rem;
  margin: 0 auto 1.5rem;
  padding: 1rem;
  height: 5rem;
}
.fun-facts__blocks img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.fun-facts__blocks img:first-of-type {
  left: 0;
}
.fun-facts__blocks .fun-facts__blocks__arrow {
  right: 0;
}
.fun-facts__blocks__texts {
  display: inline-block;
  width: 50%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}
.fun-facts__blocks__texts .texts-number {
  font-family: "Old Standard TT";
  font-weight: 400;
  font-size: 3rem;
}
.fun-facts__blocks__texts .texts-content {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 0.8rem;
  color: #777777;
}

.simple-swiper {
  margin-bottom: 3rem;
}
.simple-swiper .swiper-slide {
  align-items: center;
  width: 100%;
  height: auto;
  flex-shrink: 0;
}
.simple-swiper .swiper-slide img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}
.simple-swiper .swiper-pagination {
  text-align: center;
  bottom: 0.8rem;
  position: initial;
}
.simple-swiper .swiper-pagination .swiper-pagination-bullet {
  width: 0.5rem;
  height: 0.5rem;
  background-color: #EDEDED;
  opacity: 0.8;
  margin: 0 0.1rem;
  border-radius: 50%;
}
.simple-swiper .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #bdac8d;
  opacity: 1;
}

.hotel-images {
  display: none;
}

@media only screen and (min-width: 1000px) {
  .about {
    max-width: 64rem;
    margin: 0 auto;
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.12), 0 8px 10px rgba(0, 0, 0, 0.08);
  }
  .bbq-img {
    display: initial;
  }
  #facilitie-swiper {
    display: none;
  }
  .facilities__gallery {
    width: 90%;
    max-width: 60rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto;
    gap: 2rem;
    justify-items: center;
  }
  .facilities__gallery__page {
    position: relative;
    padding: 4rem 1rem;
    margin: 0 auto;
    min-height: 17rem;
    width: 18rem;
    background-color: #292929;
  }
  .facilities__gallery__page__number {
    font-family: "Roboto";
    font-weight: 700;
    font-size: 5rem;
    position: absolute;
    right: 1rem;
    top: 0;
    color: #222222;
    z-index: 1;
  }
  .gallery-content {
    position: relative;
    z-index: 2;
  }
  .gallery-content img, .gallery-content__description {
    text-align: left;
    vertical-align: top;
    color: white;
  }
  .gallery-content__description {
    white-space: normal;
  }
  .gallery-content__description h2 {
    font-family: "Old Standard TT";
    font-weight: 400;
    font-size: 1.5rem;
    color: #FFFFFF;
  }
  .gallery-content__description p {
    font-family: "Archivo";
    font-weight: 400;
    font-size: 0.8rem;
    color: #FFFFFF;
  }
  .fun-facts-container {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
  }
  .fun-facts__blocks {
    max-width: 20rem;
  }
  #hotl-imgs {
    display: none;
  }
  .hotel-images {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 80%;
    margin: 1.5rem auto;
  }
  .hotel-images img {
    width: 45%;
  }
}

/*# sourceMappingURL=about.css.map */
