@charset "UTF-8";
.header {
  position: relative;
  width: 100%;
  height: 3rem;
  border-bottom: 1px solid #ddd;
  box-sizing: border-box;
}
.header__menu {
  display: inline-block;
  vertical-align: middle;
  margin: 0 1rem;
}
.header__menu:before {
  content: "☰";
}
.header__menu.show::before {
  content: "✖";
}
.header__title {
  display: inline-block;
  vertical-align: middle;
  margin-right: auto;
  margin-top: 0.4rem;
}
.header__title__logo {
  font-size: 1.2rem;
  display: inline-block;
  vertical-align: middle;
  margin-right: 1.6rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.header__title__logo p {
  font-family: "Archivo";
  margin: 0 auto;
  text-align: center;
  width: 1.5rem;
  height: 1.5rem;
}
.header__title__titl {
  font-family: "Archivo";
  display: inline-block;
  vertical-align: middle;
}
.header__title__titl h1 {
  font-size: 1rem;
  font-weight: bold;
}
.header__title__titl h2 {
  font-size: 1rem;
  font-weight: 400;
}
.header__loginSearch {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
}
.header__loginSearch__imgs {
  margin: 0.5rem;
}

.footer {
  position: relative;
  overflow: hidden;
}
.footer:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../img/footerBackground.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.05;
  z-index: -1;
}

.intro {
  width: 90%;
  margin: 0 auto;
}
.intro__title {
  display: inline-block;
  vertical-align: middle;
  margin-top: 1rem;
  color: #777777;
}
.intro__title__logo {
  background-color: #BEAD8E;
  font-family: "Archivo";
  font-size: 1.2rem;
  display: inline-block;
  vertical-align: middle;
  margin-right: 1.6rem;
}
.intro__title__logo p {
  margin: 1rem;
  color: white;
}
.intro__title__titl {
  font-family: "Archivo";
  display: inline-block;
  vertical-align: middle;
}
.intro__title__titl h2 {
  font-size: 1rem;
  font-weight: 700;
  color: black;
}
.intro__title__titl h3 {
  font-size: 1rem;
  font-weight: 400;
}
.intro__text {
  margin-top: 1rem;
  color: #777777;
  font-size: 1rem;
  font-family: "Archivo";
}
.intro__socials {
  margin-top: 1rem;
}
.intro__socials__twitterImg {
  display: inline-block;
  background-color: #BEAD8E;
}

.socialsImgs {
  display: inline-block;
  background-color: #F8F8F8;
}
.socialsImgs__img {
  margin: 0.5rem;
}

.services {
  width: 90%;
  margin: 0 auto;
  margin-top: 2rem;
}
.services h2 {
  font-family: "Old Standard TT";
  text-align: left;
}
.services__container__containers {
  display: inline-block;
  text-align: left;
  list-style-type: none;
  vertical-align: top;
}
.services__container__containers li {
  margin-top: 1rem;
  font-family: "Roboto";
  color: #777777;
  font-size: 1.1rem;
}

.contactUs {
  width: 90%;
  margin: 0 auto;
  margin-top: 2rem;
}
.contactUs h2 {
  font-family: "Old Standard TT";
  text-align: left;
}
.contactUs__container {
  margin-top: 2rem;
}
.contactUs__container__content {
  margin: 1rem 1rem 3rem 0;
}
.contactUs__container__content__item {
  display: inline-block;
  margin-right: 1rem;
}
.contactUs__container__content__item h2 {
  font-family: "Old Standard TT";
  font-size: 1.5rem;
  font-weight: 400;
}
.contactUs__container__content__item h3 {
  font-family: "Old Standard TT";
  font-size: 1rem;
  font-weight: 400;
}

.copyright {
  width: 90%;
  margin: 0 auto;
}
.copyright p {
  font-family: "Roboto";
  font-weight: 700;
  margin-bottom: 1rem;
}

.button {
  background-color: #BDAC8D;
  color: white;
  border: none;
  padding: 1.3rem 3.5rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  font-family: "Archivo";
  cursor: pointer;
  transition: background-color 0.3s ease;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
}

.aboutUs {
  background-color: #333333;
  margin: 0 auto;
  color: white;
}
.aboutUs__title {
  margin: 0 1rem;
  padding: 3rem 0 2rem 0;
}
.aboutUs__title h2 {
  font-weight: 700;
  font-size: 1rem;
  font-family: "Archivo";
}
.aboutUs__title h3 {
  font-weight: 400;
  font-size: 3rem;
  font-family: "Old Standard TT";
}
.aboutUs__homeInfo {
  text-align: right;
  padding-right: 1rem;
}
.aboutUs__homeInfo__home {
  display: inline-block;
  background-color: white;
  padding: 0.8rem;
}
.aboutUs__homeInfo__home a {
  font-family: "Archivo";
  color: #BEAD8E;
}
.aboutUs__homeInfo__home p {
  display: inline-block;
  font-family: "Archivo";
  color: black;
}

.hotel-address {
  position: relative;
  padding: 4rem 1rem;
  margin: 0 auto;
  background-color: #FFFFFF;
}
.hotel-address__background-number {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 10rem;
  position: absolute;
  right: 5%;
  top: 0%;
  color: rgba(0, 0, 0, 0.1);
  z-index: 1;
}
.hotel-address__content {
  position: relative;
  z-index: 2;
  font-family: "Old Standard TT";
  background-color: transparent;
  display: inline-block;
  text-align: left;
  white-space: nowrap;
}
.hotel-address__content__icon, .hotel-address__content__text {
  display: inline-block;
}
.hotel-address__content__icon {
  margin: 0 1rem 1rem 0;
  height: auto;
}
.hotel-address__content__text {
  white-space: normal;
}
.hotel-address__content__text h2 {
  font-family: "Old Standard TT";
  font-weight: 400;
  font-size: 1.5rem;
}
.hotel-address__content__text p {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 1rem;
  color: #777777;
}

.contact {
  width: 100%;
  margin: 0 auto;
  padding: 1.2rem;
  background-color: #FFFFFF;
  border-radius: 8px;
  text-align: center;
}
.contact__img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 1.3rem;
}
.contact__form-container {
  width: 100%;
}

.form__field {
  position: relative;
  margin-bottom: 1rem;
}
.form__field input {
  width: 100%;
  background-color: #F8F8F8;
  padding: 1rem 0.5rem 1rem 2rem;
  border: none;
  font-family: "Roboto";
  font-size: 1rem;
}
.form__field textarea {
  width: 100%;
  background-color: #F8F8F8;
  padding: 0.5rem 0.5rem 3rem 2rem;
  border: none;
  font-family: "Roboto";
  font-size: 1rem;
}
.form__field__icon {
  position: absolute;
  left: 0.7rem;
  top: 35%;
  pointer-events: none;
}
.form__field__messageIcon {
  position: absolute;
  left: 0.7rem;
  top: 10%;
  pointer-events: none;
}
.form__button {
  padding: 1rem 5rem;
}
.form__button:hover {
  background-color: #0056b3;
}

/*# sourceMappingURL=contact.css.map */
