@charset "UTF-8";
.header {
  position: relative;
  width: 100%;
  border-bottom: 1px solid #ddd;
  box-sizing: border-box;
  background-color: #FFFFFF;
}
.header__links {
  display: none;
  list-style-type: none;
  background-color: #FFFFFF;
}
.header__links li {
  margin: 1rem;
}
.header__links li a {
  text-decoration: none;
  font-family: "Archivo";
  font-weight: 600;
  font-size: 0.9rem;
  color: #111111;
}
.header__menu {
  display: inline-block;
  vertical-align: middle;
  margin: 0 1rem;
}
.header__menu:before {
  content: "☰";
}
.header__menu.show::before {
  content: "✖";
}
.header__title {
  display: inline-block;
  vertical-align: middle;
  margin-right: auto;
  margin-top: 0.4rem;
}
.header__title__logo {
  font-size: 1.2rem;
  display: inline-block;
  vertical-align: middle;
  margin-right: 1.6rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.header__title__logo p {
  font-family: "Archivo";
  margin: 0 auto;
  text-align: center;
  width: 1.5rem;
  height: 1.5rem;
}
.header__title__titl {
  font-family: "Archivo";
  display: inline-block;
  vertical-align: middle;
}
.header__title__titl h1 {
  font-size: 1rem;
  font-weight: bold;
}
.header__title__titl h2 {
  font-size: 1rem;
  font-weight: 400;
}
.header__login-search {
  position: absolute;
  right: 0;
  top: 0;
}
.header__login-search__imgs {
  margin: 0.5rem;
}

.footer {
  position: relative;
  overflow: hidden;
}
.footer:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../img/footerBackground.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.05;
  z-index: -1;
}

.intro {
  width: 90%;
  margin: 0 auto;
}
.intro__title {
  display: inline-block;
  vertical-align: middle;
  margin-top: 1rem;
  color: #777777;
}
.intro__title__logo {
  background-color: #BEAD8E;
  font-family: "Archivo";
  font-size: 1.2rem;
  display: inline-block;
  vertical-align: middle;
  margin-right: 1.6rem;
}
.intro__title__logo p {
  margin: 1rem;
  color: white;
}
.intro__title__titl {
  font-family: "Archivo";
  display: inline-block;
  vertical-align: middle;
}
.intro__title__titl h2 {
  font-size: 1rem;
  font-weight: 700;
  color: black;
}
.intro__title__titl h3 {
  font-size: 1rem;
  font-weight: 400;
}
.intro__text {
  margin-top: 1rem;
  color: #777777;
  font-size: 1rem;
  font-family: "Archivo";
}
.intro__socials {
  margin-top: 1rem;
}
.intro__socials__twitterImg {
  display: inline-block;
  background-color: #BEAD8E;
}

.socialsImgs {
  display: inline-block;
  background-color: #F8F8F8;
}
.socialsImgs__img {
  margin: 0.5rem;
}

.services {
  width: 90%;
  margin: 0 auto;
  margin-top: 2rem;
}
.services h2 {
  font-family: "Old Standard TT";
  text-align: left;
}
.services__container__containers {
  display: inline-block;
  text-align: left;
  list-style-type: none;
  vertical-align: top;
}
.services__container__containers li {
  margin-top: 1rem;
  font-family: "Roboto";
  color: #777777;
  font-size: 1rem;
}

.contactUs {
  width: 90%;
  margin: 0 auto;
  margin-top: 2rem;
}
.contactUs h2 {
  font-family: "Old Standard TT";
  text-align: left;
}
.contactUs__container {
  margin-top: 2rem;
}
.contactUs__container__content {
  margin: 1rem 1rem 3rem 0;
}
.contactUs__container__content__item {
  display: inline-block;
  margin-right: 1rem;
}
.contactUs__container__content__item h2 {
  font-family: "Old Standard TT";
  font-size: 1.5rem;
  font-weight: 400;
}
.contactUs__container__content__item h3 {
  font-family: "Old Standard TT";
  font-size: 1rem;
  font-weight: 400;
}

.copyright {
  width: 90%;
  margin: 0 auto;
}
.copyright p {
  font-family: "Roboto";
  font-weight: 700;
  margin-bottom: 1rem;
}

.home-local-page {
  background-color: #333333;
  margin: 0 auto;
  color: white;
}
.home-local-page__title {
  margin: 0 1rem;
  padding: 3rem 0 2rem 0;
}
.home-local-page__title h2 {
  font-weight: 700;
  font-size: 1rem;
  font-family: "Archivo";
}
.home-local-page__title h3 {
  font-weight: 400;
  font-size: 3rem;
  font-family: "Old Standard TT";
}
.home-local-page__home-info {
  text-align: right;
  padding-right: 1rem;
}
.home-local-page__home-info__home {
  display: inline-block;
  background-color: white;
  padding: 0.8rem;
}
.home-local-page__home-info__home .home-page {
  font-family: "Archivo";
  color: black;
  font-weight: 700;
  font-size: 1rem;
  text-decoration: none;
}
.home-local-page__home-info__home .separation {
  display: inline-block;
  color: black;
  font-weight: 700;
}
.home-local-page__home-info__home .home-title {
  display: inline-block;
  font-family: "Archivo";
  font-weight: 700;
  color: #BEAD8E;
}

.button {
  background-color: #BDAC8D;
  color: white;
  border: none;
  padding: 1.3rem 3.5rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  font-family: "Archivo";
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.swiper {
  width: 90%;
  position: relative;
  background-color: white;
}

.swiper-slide {
  position: relative;
}

.swiper-img {
  width: 100%;
  object-fit: cover;
}

.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  top: 50%;
  transform: translateY(-250%);
  height: 2rem;
  width: 2rem;
  background-color: white;
  background-size: 50% auto;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 20;
  cursor: pointer;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 1rem;
  color: black;
}

.swiper-button-prev {
  left: 1rem;
}

.swiper-button-next {
  right: 1rem;
}

.swiper-description {
  background-color: #FFFFFF;
  position: relative;
  overflow: visible;
}
.swiper-description__img {
  display: inline-block;
  background-color: white;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
  position: relative;
  bottom: 1.4rem;
}
.swiper-description__img img {
  margin: 0.5rem 1rem;
}
.swiper-description__desc__title {
  font-family: "Old Standard TT";
  font-weight: 400;
  font-size: 1.5rem;
}
.swiper-description__desc p {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 0.8rem;
  color: #777777;
  margin-top: 1rem;
}
.swiper-description__desc__book-now {
  margin: 1rem auto;
}
.swiper-description__desc__book-now__price {
  font-family: "Archivo";
  font-weight: 700;
  font-size: 1rem;
  color: #BEAD8E;
  display: inline-block;
  margin-right: 1rem;
}
.swiper-description__desc__book-now__now {
  font-family: "Archivo";
  font-weight: 700;
  font-size: 1rem;
  color: #BDBDBD;
  display: inline-block;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
}

.offer {
  width: 90%;
  margin: 2rem auto;
  padding: 1rem;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.12), 0 8px 10px rgba(0, 0, 0, 0.08);
}
.offer__image {
  position: relative;
}
.offer__image img {
  display: block;
  width: 100%;
  height: auto;
  margin: 0 auto;
}
.offer__image__text {
  font-family: "Archivo";
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: white;
  font-size: 18px;
  padding: 5px;
  border-radius: 5px;
  text-align: right;
}
.offer__image__oldPrice {
  text-decoration: line-through;
  font-weight: 700;
  font-size: 1.4rem;
  color: #BEAD8E;
}
.offer__image__newPrice {
  font-weight: 700;
  font-size: 1.6rem;
  color: #DE5777;
}
.offer__description {
  margin: 1rem 0;
}
.offer__description__name {
  font-family: "Archivo";
  font-weight: 700;
  font-size: 1rem;
  color: #777777;
}
.offer__description__fullName {
  font-family: "Old Standard TT";
  font-weight: 400;
  font-size: 2.5rem;
  margin: 1rem 0;
}
.offer__description__description {
  font-family: "Roboto";
  font-weight: 400;
  color: #777777;
}
.offer__items__especificaciones {
  display: inline-block;
  list-style-type: none;
  width: 45%;
}
.offer__items__especificaciones li {
  font-family: "Roboto";
  font-weight: 500;
  color: #777777;
  margin-bottom: 1rem;
}
.offer__items__especificaciones li img {
  margin-right: 0.5rem;
}
.offer__items__book {
  margin-top: 1rem;
}

.popular-list {
  text-align: center;
  background-color: #222222;
  padding-bottom: 2rem;
}
.popular-list__title {
  padding: 2rem;
}
.popular-list__title h2 {
  color: #BDAC8D;
  font-family: "Archivo";
  font-weight: 500;
  font-size: 0.8rem;
  margin-bottom: 1rem;
}
.popular-list__title h3 {
  color: white;
  font-family: "Old Standard TT";
  font-weight: 400;
  font-size: 1.5rem;
}

/*# sourceMappingURL=offers.css.map */
