@charset "UTF-8";
.header {
  position: relative;
  width: 100%;
  border-bottom: 1px solid #ddd;
  box-sizing: border-box;
  background-color: #FFFFFF;
}
.header__links {
  display: none;
  list-style-type: none;
  background-color: #FFFFFF;
}
.header__links li {
  margin: 1rem;
}
.header__links li a {
  text-decoration: none;
  font-family: "Archivo";
  font-weight: 600;
  font-size: 0.9rem;
  color: #111111;
}
.header__menu {
  display: inline-block;
  vertical-align: middle;
  margin: 0 1rem;
}
.header__menu:before {
  content: "☰";
}
.header__menu.show::before {
  content: "✖";
}
.header__title {
  display: inline-block;
  vertical-align: middle;
  margin-right: auto;
  margin-top: 0.4rem;
}
.header__title__logo {
  font-size: 1.2rem;
  display: inline-block;
  vertical-align: middle;
  margin-right: 1.6rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.header__title__logo p {
  font-family: "Archivo";
  margin: 0 auto;
  text-align: center;
  width: 1.5rem;
  height: 1.5rem;
}
.header__title__titl {
  font-family: "Archivo";
  display: inline-block;
  vertical-align: middle;
}
.header__title__titl h1 {
  font-size: 1rem;
  font-weight: bold;
}
.header__title__titl h2 {
  font-size: 1rem;
  font-weight: 400;
}
.header__login-search {
  position: absolute;
  right: 0;
  top: 0;
}
.header__login-search__imgs {
  margin: 0.5rem;
}

.footer {
  position: relative;
  overflow: hidden;
}
.footer:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../img/footerBackground.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.05;
  z-index: -1;
}

.intro {
  width: 90%;
  margin: 0 auto;
}
.intro__title {
  display: inline-block;
  vertical-align: middle;
  margin-top: 1rem;
  color: #777777;
}
.intro__title__logo {
  background-color: #BEAD8E;
  font-family: "Archivo";
  font-size: 1.2rem;
  display: inline-block;
  vertical-align: middle;
  margin-right: 1.6rem;
}
.intro__title__logo p {
  margin: 1rem;
  color: white;
}
.intro__title__titl {
  font-family: "Archivo";
  display: inline-block;
  vertical-align: middle;
}
.intro__title__titl h2 {
  font-size: 1rem;
  font-weight: 700;
  color: black;
}
.intro__title__titl h3 {
  font-size: 1rem;
  font-weight: 400;
}
.intro__text {
  margin-top: 1rem;
  color: #777777;
  font-size: 1rem;
  font-family: "Archivo";
}
.intro__socials {
  margin-top: 1rem;
}
.intro__socials__twitterImg {
  display: inline-block;
  background-color: #BEAD8E;
}

.socialsImgs {
  display: inline-block;
  background-color: #F8F8F8;
}
.socialsImgs__img {
  margin: 0.5rem;
}

.services {
  width: 90%;
  margin: 0 auto;
  margin-top: 2rem;
}
.services h2 {
  font-family: "Old Standard TT";
  text-align: left;
}
.services__container__containers {
  display: inline-block;
  text-align: left;
  list-style-type: none;
  vertical-align: top;
}
.services__container__containers li {
  margin-top: 1rem;
  font-family: "Roboto";
  color: #777777;
  font-size: 1.1rem;
}

.contactUs {
  width: 90%;
  margin: 0 auto;
  margin-top: 2rem;
}
.contactUs h2 {
  font-family: "Old Standard TT";
  text-align: left;
}
.contactUs__container {
  margin-top: 2rem;
}
.contactUs__container__content {
  margin: 1rem 1rem 3rem 0;
}
.contactUs__container__content__item {
  display: inline-block;
  margin-right: 1rem;
}
.contactUs__container__content__item h2 {
  font-family: "Old Standard TT";
  font-size: 1.5rem;
  font-weight: 400;
}
.contactUs__container__content__item h3 {
  font-family: "Old Standard TT";
  font-size: 1rem;
  font-weight: 400;
}

.copyright {
  width: 90%;
  margin: 0 auto;
}
.copyright p {
  font-family: "Roboto";
  font-weight: 700;
  margin-bottom: 1rem;
}

.button {
  background-color: #BDAC8D;
  color: white;
  border: none;
  padding: 1.3rem 3.5rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  font-family: "Archivo";
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.swiper {
  width: 90%;
  position: relative;
  background-color: white;
}

.swiper-slide {
  position: relative;
}

.swiper-img {
  width: 100%;
  object-fit: cover;
}

.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  top: 50%;
  transform: translateY(-250%);
  height: 2rem;
  width: 2rem;
  background-color: white;
  background-size: 50% auto;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 20;
  cursor: pointer;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 1rem;
  color: black;
}

.swiper-button-prev {
  left: 1rem;
}

.swiper-button-next {
  right: 1rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
}

.homeRoomDetail {
  background-color: #333333;
  margin: 0 auto;
  color: white;
}
.homeRoomDetail__title {
  margin: 0 1rem;
  padding: 3rem 0 2rem 0;
}
.homeRoomDetail__title h2 {
  font-weight: 700;
  font-size: 1rem;
  font-family: "Archivo";
}
.homeRoomDetail__title h3 {
  font-weight: 400;
  font-size: 3rem;
  font-family: "Old Standard TT";
}
.homeRoomDetail__homeInfo {
  text-align: right;
  padding-right: 1rem;
}
.homeRoomDetail__homeInfo__home {
  display: inline-block;
  background-color: white;
  padding: 0.8rem;
}
.homeRoomDetail__homeInfo__home a {
  font-family: "Archivo";
  color: #BEAD8E;
}
.homeRoomDetail__homeInfo__home p {
  display: inline-block;
  font-family: "Archivo";
  color: black;
}

.roomInfo {
  width: 90%;
  margin: 0 auto;
}
.roomInfo__type {
  margin-bottom: 20px;
}
.roomInfo__type h2 {
  font-family: "Archivo";
  font-size: 0.8rem;
  font-weight: 700;
  margin: 1rem 0 0.5rem;
  color: #777777;
}
.roomInfo__type h3 {
  font-family: "Old Standard TT";
  font-weight: 400;
  font-size: 2.4rem;
  margin: 5px 0 10px 0;
}
.roomInfo__type h4 {
  font-family: "Archivo";
  font-size: 1.3rem;
  font-weight: 700;
  color: #BEAD8E;
  margin-bottom: 0.8rem;
}
.roomInfo__type h4 span.price {
  font-size: 2rem;
}
.roomInfo__type h4 span:last-of-type {
  font-size: 1rem;
}
.roomInfo__type img {
  display: block;
  margin-top: 0.8rem;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

.roomAvailability {
  width: 90%;
  margin: 0 auto;
}
.roomAvailability__availability {
  margin-bottom: 2rem;
}
.roomAvailability__availability h2 {
  text-align: center;
  font-family: "Archivo";
  font-weight: 700;
  font-size: 1.2rem;
  margin-bottom: 10px;
}
.roomAvailability__availability__date {
  margin-bottom: 1rem;
  overflow: hidden;
}
.roomAvailability__availability__date label {
  display: block;
  width: 90%;
  margin: 0 auto;
  font-family: "Archivo";
  font-weight: 700;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}
.roomAvailability__availability__date__container {
  display: flex;
  align-items: center;
  margin: 0 auto;
  width: 90%;
  padding: 0.4rem;
  font-size: 0.8rem;
  margin-bottom: 0.7rem;
  padding: 1rem;
  background-color: #F8F8F8;
}
.roomAvailability__availability__date__container span {
  margin-right: 0.7rem;
  font-family: "Archivo";
  color: #777777;
}
.roomAvailability__availability__date__container input {
  color: #777777;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  cursor: pointer;
  text-align: center;
  width: 1.2rem;
  height: 1.2rem;
  padding: 0;
  position: relative;
  margin-left: auto;
}
.roomAvailability__availability__date__container input::-webkit-calendar-picker-indicator {
  background: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" fill="%23000000" viewBox="0 0 24 24"%3E%3Cpath d="M19 4h-1V2h-2v2H8V2H6v2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 16H5V10h14v10zm0-12H5V6h14v2z"/%3E%3C/svg%3E') no-repeat center;
  color: transparent;
  width: 1.2rem;
  height: 1.2rem;
  cursor: pointer;
}
.roomAvailability__availability__date__container input::-webkit-inner-spin-button,
.roomAvailability__availability__date__container input::-webkit-clear-button {
  display: none;
}
.roomAvailability__availability__date__container input::-moz-focus-inner {
  border: 0;
}
.roomAvailability__Check-Availability {
  text-align: center;
  margin-bottom: 2rem;
}
.roomAvailability__Check-Availability__button {
  width: 90%;
}
.roomAvailability p {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #777777;
  margin: 3rem auto;
}

.roomAmenities {
  margin: 3rem auto;
}
.roomAmenities__title {
  width: 90%;
  margin: 2rem auto;
}
.roomAmenities__title h2 {
  font-family: "Old Standard TT";
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
  text-align: left;
}
.roomAmenities__title hr {
  width: 100%;
  height: 1px;
  background-color: #F1F1F1;
  border: none;
  margin-bottom: 1rem;
}
.roomAmenities__items {
  width: 90%;
  margin: 0 auto;
}
.roomAmenities__items__container {
  display: inline-block;
  width: 48%;
}
.roomAmenities__items__container__specs {
  list-style: none;
}
.roomAmenities__items__container__specs li {
  font-family: "Roboto";
  font-weight: 500;
  color: #777777;
  margin-bottom: 1rem;
  font-size: 0.88rem;
}
.roomAmenities__items__container__specs li img {
  margin-right: 0.5rem;
  vertical-align: middle;
}

.roomTestimonial {
  text-align: center;
  padding: 2rem;
}
.roomTestimonial__image-container {
  position: relative;
  display: inline-block;
}
.roomTestimonial__image-container .roomTestimonial__image {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  object-fit: cover;
}
.roomTestimonial__image-container .roomTestimonial__tick {
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.roomTestimonial__image-container .roomTestimonial__tick .roomTestimonial__tick-background {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  z-index: 1;
}
.roomTestimonial__image-container .roomTestimonial__tick .roomTestimonial__tick-icon {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 2;
}
.roomTestimonial__name {
  font-family: "Old Standard TT";
  font-weight: 400;
  font-size: 2rem;
  margin: 1rem 0 0.5rem;
}
.roomTestimonial__position {
  font-family: "Archivo";
  font-weight: 700;
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
  color: #BDAC8D;
  margin-bottom: 1rem;
}
.roomTestimonial__text {
  font-family: "Archivo";
  font-size: 0.9rem;
  line-height: 1.5;
  color: #777777;
}

.cancellation {
  width: 90%;
  margin: 4rem auto;
}
.cancellation h2 {
  font-family: "Old Standard TT";
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
}
.cancellation hr {
  width: 100%;
  height: 1px;
  background-color: #F1F1F1;
  border: none;
  margin-bottom: 1rem;
}
.cancellation p {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  color: #777777;
}

.relatedRooms {
  text-align: center;
  margin: 5rem auto;
}
.relatedRooms__title {
  width: 90%;
  margin: 2rem auto;
}
.relatedRooms__title h2 {
  font-family: "Old Standard TT";
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
  text-align: left;
}
.relatedRooms__title hr {
  width: 100%;
  height: 1px;
  background-color: #F1F1F1;
  border: none;
  margin-bottom: 1rem;
}

.swiper-description {
  background-color: #FFFFFF;
  position: relative;
  overflow: visible;
}
.swiper-description__img {
  background-color: white;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
  position: absolute;
  top: -50%;
  left: 50%;
  transform: translateX(-50%);
  display: block;
}
.swiper-description__img img {
  margin: 0.5rem 1rem;
}
.swiper-description__desc {
  margin-top: 2rem;
}
.swiper-description__desc__title {
  font-family: "Old Standard TT";
  font-weight: 400;
  font-size: 1.5rem;
}
.swiper-description__desc p {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 0.8rem;
  color: #777777;
  margin-top: 1rem;
}
.swiper-description__desc__book-now {
  margin: 1rem auto;
}
.swiper-description__desc__book-now__price {
  font-family: "Archivo";
  font-weight: 700;
  font-size: 1rem;
  color: #BEAD8E;
  display: inline-block;
  margin-right: 1rem;
}
.swiper-description__desc__book-now__now {
  font-family: "Archivo";
  font-weight: 700;
  font-size: 1rem;
  color: #BDBDBD;
  display: inline-block;
}

/*# sourceMappingURL=roomDetails.css.map */
