@charset "UTF-8";
.header {
  position: relative;
  width: 100%;
  height: 3rem;
  border-bottom: 1px solid #ddd;
  box-sizing: border-box;
}
.header__menu {
  display: inline-block;
  vertical-align: middle;
  margin: 0 1rem;
}
.header__menu:before {
  content: "☰";
}
.header__menu.show::before {
  content: "✖";
}
.header__title {
  display: inline-block;
  vertical-align: middle;
  margin-right: auto;
  margin-top: 0.4rem;
}
.header__title__logo {
  font-size: 1.2rem;
  display: inline-block;
  vertical-align: middle;
  margin-right: 1.6rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.header__title__logo p {
  font-family: "Archivo";
  margin: 0 auto;
  text-align: center;
  width: 1.5rem;
  height: 1.5rem;
}
.header__title__titl {
  font-family: "Archivo";
  display: inline-block;
  vertical-align: middle;
}
.header__title__titl h1 {
  font-size: 1rem;
  font-weight: bold;
}
.header__title__titl h2 {
  font-size: 1rem;
  font-weight: 400;
}
.header__loginSearch {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
}
.header__loginSearch__imgs {
  margin: 0.5rem;
}

.footer {
  position: relative;
  overflow: hidden;
}
.footer:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../img/footerBackground.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.05;
  z-index: -1;
}

.intro {
  width: 90%;
  margin: 0 auto;
}
.intro__title {
  display: inline-block;
  vertical-align: middle;
  margin-top: 1rem;
  color: #777777;
}
.intro__title__logo {
  background-color: #BEAD8E;
  font-family: "Archivo";
  font-size: 1.2rem;
  display: inline-block;
  vertical-align: middle;
  margin-right: 1.6rem;
}
.intro__title__logo p {
  margin: 1rem;
  color: white;
}
.intro__title__titl {
  font-family: "Archivo";
  display: inline-block;
  vertical-align: middle;
}
.intro__title__titl h2 {
  font-size: 1rem;
  font-weight: 700;
  color: black;
}
.intro__title__titl h3 {
  font-size: 1rem;
  font-weight: 400;
}
.intro__text {
  margin-top: 1rem;
  color: #777777;
  font-size: 1rem;
  font-family: "Archivo";
}
.intro__socials {
  margin-top: 1rem;
}
.intro__socials__twitterImg {
  display: inline-block;
  background-color: #BEAD8E;
}

.socialsImgs {
  display: inline-block;
  background-color: #F8F8F8;
}
.socialsImgs__img {
  margin: 0.5rem;
}

.services {
  width: 90%;
  margin: 0 auto;
  margin-top: 2rem;
}
.services h2 {
  font-family: "Old Standard TT";
  text-align: left;
}
.services__container__containers {
  display: inline-block;
  text-align: left;
  list-style-type: none;
  vertical-align: top;
}
.services__container__containers li {
  margin-top: 1rem;
  font-family: "Roboto";
  color: #777777;
  font-size: 1.1rem;
}

.contactUs {
  width: 90%;
  margin: 0 auto;
  margin-top: 2rem;
}
.contactUs h2 {
  font-family: "Old Standard TT";
  text-align: left;
}
.contactUs__container {
  margin-top: 2rem;
}
.contactUs__container__content {
  margin: 1rem 1rem 3rem 0;
}
.contactUs__container__content__item {
  display: inline-block;
  margin-right: 1rem;
}
.contactUs__container__content__item h2 {
  font-family: "Old Standard TT";
  font-size: 1.5rem;
  font-weight: 400;
}
.contactUs__container__content__item h3 {
  font-family: "Old Standard TT";
  font-size: 1rem;
  font-weight: 400;
}

.copyright {
  width: 90%;
  margin: 0 auto;
}
.copyright p {
  font-family: "Roboto";
  font-weight: 700;
  margin-bottom: 1rem;
}

.swiper {
  width: 90%;
  position: relative;
  background-color: white;
}

.swiper-slide {
  position: relative;
}

.swiper-img {
  width: 100%;
  object-fit: cover;
}

.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  top: 50%;
  transform: translateY(-250%);
  height: 2rem;
  width: 2rem;
  background-color: white;
  background-size: 50% auto;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 20;
  cursor: pointer;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 1rem;
  color: black;
}

.swiper-button-prev {
  left: 1rem;
}

.swiper-button-next {
  right: 1rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
}

.homeRooms {
  background-color: #333333;
  margin: 0 auto;
  color: white;
}
.homeRooms__title {
  margin: 0 1rem;
  padding: 3rem 0 2rem 0;
}
.homeRooms__title h2 {
  font-weight: 700;
  font-size: 0.9rem;
  font-family: "Archivo";
}
.homeRooms__title h3 {
  font-weight: 400;
  font-size: 3rem;
  font-family: "Old Standard TT";
  width: 60%;
}
.homeRooms__homeInfo {
  text-align: right;
  padding-right: 1rem;
}
.homeRooms__homeInfo__home {
  display: inline-block;
  background-color: white;
  padding: 0.8rem;
}
.homeRooms__homeInfo__home a {
  font-family: "Archivo";
  color: #BEAD8E;
}
.homeRooms__homeInfo__home p {
  display: inline-block;
  font-family: "Archivo";
  color: black;
}

.swiper-description {
  background-color: #FFFFFF;
  position: relative;
  overflow: visible;
}
.swiper-description__img {
  background-color: white;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
  position: absolute;
  top: -50%;
  left: 50%;
  transform: translateX(-50%);
  display: block;
}
.swiper-description__img img {
  margin: 0.5rem 1rem;
}
.swiper-description__desc {
  margin-top: 2rem;
}
.swiper-description__desc__title {
  font-family: "Old Standard TT";
  font-weight: 400;
  font-size: 1.5rem;
}
.swiper-description__desc p {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 0.8rem;
  color: #777777;
  margin-top: 1rem;
}
.swiper-description__desc__book-now {
  margin: 1rem auto;
}
.swiper-description__desc__book-now__price {
  font-family: "Archivo";
  font-weight: 700;
  font-size: 1rem;
  color: #BEAD8E;
  display: inline-block;
  margin-right: 1rem;
}
.swiper-description__desc__book-now__now {
  font-family: "Archivo";
  font-weight: 700;
  font-size: 1rem;
  color: #BDBDBD;
  display: inline-block;
}

.swiper-wrapper {
  margin-bottom: 4rem;
}

.numbered-swiper {
  position: relative;
  margin: 3rem auto;
}

.pagination-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 20;
}

.btn-go-start,
.btn-go-end {
  background: #f0f0f0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 0.5rem 0.7rem;
  font-size: 1rem;
  margin: 0 7rem;
  z-index: 11;
  position: relative;
  top: -0.35rem;
}

.swiper-pagination {
  display: flex;
  justify-content: center;
  z-index: 10;
}

.swiper-pagination span {
  display: inline-block;
  width: 1.8rem;
  height: 1.8rem;
  text-align: center;
  line-height: 1.8rem;
  margin: 0 0.1rem;
  background: #f0f0f0;
  border-radius: 4px;
  cursor: pointer;
}

.swiper-pagination-bullet {
  margin: 0 0.1rem;
  font-size: 1rem;
}

.swiper-pagination-bullet-active {
  color: black;
}

/*# sourceMappingURL=rooms.css.map */
